[submodule "Chaps-Upgrade/CHAPS"]
    path = Chaps-Upgrade/CHAPS
    url = https://github.com/ministryofjustice/CHAPS.git
    branch = main

[submodule "Chaps-Upgrade/ChapsDotNet"]
    path = Chaps-Upgrade/ChapsDotNet
    url = https://github.com/ministryofjustice/ChapsDotNet.git
    branch = main
	