<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.applicationHost" type="System.Configuration.ApplicationHostSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="sites" overrideModeDefault="Allow" />
      <section name="applicationPools" overrideModeDefault="Allow" />
    </sectionGroup>
  </configSections>
  <system.applicationHost>
    <sites>
      <site name="CHAPS" id="1">
        <application path="/" applicationPool="DefaultAppPool">
          <virtualDirectory path="/" physicalPath="C:\inetpub\wwwroot\CHAPS" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:80:" />
        </bindings>
      </site>
    </sites>
    <applicationPools>
      <add name="DefaultAppPool" />
    </applicationPools>
  </system.applicationHost>
</configuration>
